.App {
  text-align: center;
}

.App_header__link-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.App_header__link {
  text-decoration: none;
  color: white;
}
